<!DOCTYPE html>
<html>
    <head>
        <title>Blood donation</title>
        <link rel ="css" href="MidLabTask3/Task-3_style.css">
    </head>
    <body>

        <h1> Donor Information form </h1>
        <table>
        <tr>
            <td>First Name</td></tr>
            <tr>
            <td><input type = "text"></td>
        </tr>

            <tr>
            <td>Last Name</td></tr>
            <tr>
            <td><input type = "text"></td>
        </tr>
        <tr>
            <td>Address</td></tr>
            <tr>
            <td><input type = "text"></td>
        </tr>
        <tr>
            <td>City</td></tr>
            <tr>
            <td><input type = "text"></td>
        </tr>

        <tr>
            <td> State: </td> </tr> <tr><td><select id="City">
                <option value="1">--Select--</option>
                <option value="2">Dhaka</option>
                <option value="2">Cumilla</option></select>
            </td>
        </tr>
        <tr>
            <td>Phone</td></tr>
            <tr>
            <td><input type = "number"></td>
        </tr>
        <tr>
            <td>Email</td></tr>
            <tr>
            <td><input type = "email"></td>
        </tr>
        <tr>
            <td>Creat password(min 8 character)</td></tr>
            <tr>
            <td><input type = "text"></td>
        </tr>
            <td>Confirm password</td></tr>
            <tr>
            <td><input type = "password"></td>
        </tr>
        <tr>
            <td>Donation</td></tr>
            <tr><td><input type = "radio" name="des">None
                <input type = "radio" name="des">500 BDT
                <input type = "radio" name="des">1000 BDT
                <input type = "radio" name="des">2000 BDT
                <input type = "radio" name="des">3000 BDT
                <input type = "radio" name="des">Other
            </td>
        </tr>
       <tr>
            <td>Other amount</td></tr>
            <tr>
            <td><input type = "number"></td>
        </tr>
        <tr>
             <td>
                <input type = "checkbox"> I am interested in giving on a regular basis
            </td>
        </tr>
        <tr>
            <td><label> Additional information </label></td>
            <tr></tr><td><input type = "checkbox"> I would like my gift to remain anonymous.</td></tr>
            <tr><td><input type = "checkbox"> My employer offer a matching gift program.</td></tr>
            <tr><td><input type = "checkbox"> Please don't send to thank you letter.</td></tr>

        </tr>
        <tr>
            <td>Comment</td></tr>
            <tr>
            <td><input type = "text"></td>
        </tr>
        <table>
            <input type = "reset">Reset
            <input type = "submit">Submit
        </table>
        
    </body>
</html>