body {

    background-color: aliceblue;
    display: inline;
    justify-content: baseline;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}
    .form-container {

        background-color: aliceblue;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 20px;
     }